@keyframes slide-in {
  0% {
    opacity: 0;
    display: none;
    width: 0;
  }
  30% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    left: 0;
    opacity: 1;
    display: inline;
    width: auto;
    visibility: visible;
  }
}

@keyframes border-grow {
  0% {
    overflow: hidden;
    display: inline-flex;
    min-width: 2.75rem;
  }
  100% {
    display: inline-flex;
    width: 9.375rem;
  }
}

@keyframes border-collapse-nav {
  0% {
    left: 0;
    visibility: visible;
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 0.7rem;
    overflow: hidden;
    width: 9.375rem;
  }
  100% {
    left: 0;
    opacity: 1;
    visibility: visible;
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 0.7rem;
    overflow: hidden;
    width: 2.75rem;
  }
}


@keyframes border-collapse {
  0% {
    left: 0;
    visibility: visible;
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 0.65rem;
    overflow: hidden;
    width: 9.375rem;
  }
  100% {
    left: 0;
    opacity: 1;
    visibility: visible;
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 0.65rem;
    overflow: hidden;
    width: 2.75rem;
  }
}
